n8n_workflows/ax_trade_notifications.json
{
  "name": "AX — Trade Bildirimleri",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ax-trade-open",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "webhook-open",
      "name": "Webhook: Trade Açıldı",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ax-trade-close",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "webhook-close",
      "name": "Webhook: Trade Kapandı",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst dir = d.direction === 'LONG' ? '📈' : '📉';\nreturn [{ json: { message: `${dir} <b>${d.symbol}</b> açıldı\\nEntry: ${d.entry}\\nSL: ${d.sl} | TP: ${d.tp}\\nML: ${d.ml_score}/100 | RR: 1:${d.rr}\\nBakiye: $${(d.balance||0).toFixed(2)}` } }];"
      },
      "id": "format-open",
      "name": "Format: Açılış",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst emoji = d.result === 'WIN' ? '✅' : '❌';\nreturn [{ json: { message: `${emoji} <b>${d.result}</b> — ${d.symbol}\\nNet: ${d.net_pnl >= 0 ? '+' : ''}${(d.net_pnl||0).toFixed(3)}$\\nSüre: ${(d.hold_minutes||0).toFixed(0)}dk | RR: ${d.actual_rr}\\nBakiye: $${(d.balance||0).toFixed(2)}` } }];"
      },
      "id": "format-close",
      "name": "Format: Kapanış",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500]
    }
  ],
  "connections": {
    "Webhook: Trade Açıldı": {
      "main": [[{"node": "Format: Açılış", "type": "main", "index": 0}]]
    },
    "Webhook: Trade Kapandı": {
      "main": [[{"node": "Format: Kapanış", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {}
}
