n8n_workflows/telegram_commands.json
{
  "id": "3",
  "name": "Telegram Komut Merkezi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-commands",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000001",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tg-commands-ax"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ (($json.body.message || {}).text || '').split(' ')[0].toLowerCase() }}",
        "rules": {
          "rules": [
            {"value2": "/pause",  "output": 0},
            {"value2": "/dur",    "output": 0},
            {"value2": "/devam",  "output": 1},
            {"value2": "/resume", "output": 1},
            {"value2": "/bitir",  "output": 2},
            {"value2": "/finish", "output": 2},
            {"value2": "/status", "output": 3},
            {"value2": "/durum",  "output": 3},
            {"value2": "/bakiye", "output": 4},
            {"value2": "/balance","output": 4}
          ]
        },
        "fallbackOutput": 5
      },
      "id": "c1000001-0001-0001-0001-000000000002",
      "name": "Komut Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/bot/pause",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000003",
      "name": "Pause",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/bot/resume",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000004",
      "name": "Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/bot/finish",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000005",
      "name": "Finish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 320]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/bot/status",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000006",
      "name": "Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 440]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/balance",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000007",
      "name": "Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $json.tg_token + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Webhook').item.json.body.message.chat.id, text: $json.message || ('✅ ' + ($json.status || 'ok')), parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "c1000001-0001-0001-0001-000000000008",
      "name": "Yanit Gonder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 320]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{"node": "Komut Router", "type": "main", "index": 0}]]
    },
    "Komut Router": {
      "main": [
        [{"node": "Pause",   "type": "main", "index": 0}],
        [{"node": "Resume",  "type": "main", "index": 0}],
        [{"node": "Finish",  "type": "main", "index": 0}],
        [{"node": "Status",  "type": "main", "index": 0}],
        [{"node": "Balance", "type": "main", "index": 0}],
        []
      ]
    },
    "Pause":   {"main": [[{"node": "Yanit Gonder", "type": "main", "index": 0}]]},
    "Resume":  {"main": [[{"node": "Yanit Gonder", "type": "main", "index": 0}]]},
    "Finish":  {"main": [[{"node": "Yanit Gonder", "type": "main", "index": 0}]]},
    "Status":  {"main": [[{"node": "Yanit Gonder", "type": "main", "index": 0}]]},
    "Balance": {"main": [[{"node": "Yanit Gonder", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
